<div class="nav-wrapper">
  <app-navigation></app-navigation>
</div>

<div class="section header">

  <div class="section-title__wrapper">
    <h2 class="section__title trigger">Контакты</h2>
  </div>

</div>

<div class="section">

  <div class="address">

    <div class="address__map">
      <iframe #frame src="https://yandex.ru/map-widget/v1/-/CCVcEE9C" width="400" height="400" frameborder="0" allowfullscreen="true"></iframe>
    </div>

    <div class="address__text">

      <h4 class="address__heading company-name">ООО Национальная Компания "Евразия"</h4>
      <address class="address__label phone">+7(495)131-69-72</address>

      <h4 class="address__heading">Адрес:</h4>
      <address class="address__label"> Москва, Россия, Профсоюзная улица, 3, 117036. Офис 720 </address>

      <h4 class="address__heading">Обратная связь:</h4>
      <form id="form" #form="ngForm" (submit)="onSubmit(form)">

        <div class="form__row">
          <input type="email" class="form__input" name="email" ngModel placeholder="Email" required>
        </div>

        <div class="form__row">
          <textarea class="form__input" name="message" ngModel placeholder="Сообщение" required></textarea>
        </div>

        <div class="form__row form__row--submit">
          <button class="form__submit" [attr.data-content]="'Отправить'" [disabled]="form.invalid">Отправить</button>

          <div class="preloader" *ngIf="showPreloader">
            <div class="circle"></div>
          </div>
        </div>

        <div class="form__row">
          <p class="message" *ngIf="status === true"> Сообщение успешно отправлено </p>
          <p class="message" *ngIf="status === false"> Возникла ошибка при отправке сообщения </p>
        </div>
      </form>

    </div>

  </div>

</div>
