<div class="section">

  <div class="section-title__wrapper">
    <h2 class="section__title trigger">Контакты</h2>
  </div>

</div>

<div class="section">

  <div class="address">

    <div class="address__map">
      <iframe src="https://yandex.ru/map-widget/v1/-/CCVcEE9C" width="400" height="400" frameborder="0" allowfullscreen="true"></iframe>
    </div>

    <div class="address__text">

      <address class="address__label"> Москва, Россия, Профсоюзная улица, 3, 117036 </address>

      <form class="form">

        <div class="form__row">
          <input class="form__input" type="text" placeholder="Email">
        </div>

        <div class="form__row">
          <textarea class="form__input" placeholder="Сообщение"></textarea>
        </div>

        <div class="form__row">
          <button class="form__submit">Отправить</button>
        </div>

      </form>

    </div>

  </div>

</div>
