@import "../../_utils/index";

.section-title__wrapper {
  @include sectionHeadingWrapper();
}

.section__title {
  @include sectionHeading();
}

.partners {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.partner {
  flex: 0 0 25%;
  height: 100%;
}

.partner__link {
  width: 100%;
  height: 100%;
  padding: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.partner__link:focus {
  outline: 2px solid $darkOpacity;
}

.partner__logo {
  width: 100%;
}

@media (max-width: 1199px) {
  .section__title {
    @include sectionHeading($fontSize: 65px);
  }
}

@media (max-width: 768px) {
  .section__title {
    @include sectionHeading($fontSize: 55px);
  }
}

@media (max-width: 480px) {
  .partners {
    flex-wrap: wrap;
  }
  .partner {
    flex: 0 0 50%;
    margin-bottom: 3rem;
  }
}
