<h2 class="section__title section__title--blur">Кто мы</h2>

<div class="section__about">
  <p class="about__text">
    Наши инженеры работают с оборудованием T.D.Williamson 15 лет. За это время мы успели провести 2000 врезок под
    давлением. Мы
    обслуживаем трубопроводы в России, всех странах СНГ и Бельгии.
  </p>

  <p class="about__text">
    Своими силами мы производим работы по врезке отводов, перемычек, лупингов, переходов и замене дефектных участков
    линейной части, запорно-регулирующей арматуры, соединительных деталей
    трубопроводов без прекращения транспорта продукта с врезкой байпаса и перекрытием полости трубы с применением
    специальной технологии сварки (приварки фитингов) и врезки под давлением с использованием специального
    оборудования.
  </p>
</div>
