@import "../../_utils/index";

.section-title__wrapper {
  @include sectionHeadingWrapper();
}

.section__title {
  @include sectionHeading();
}

.section__about {

}

.about__text {
  width: 70%;
  margin-top: 0.75rem;
  font-size: rem(19px);
  color: $dark;
  line-height: 1.41;
}

@media (max-width: 1199px) {
  .section__title {
    @include sectionHeading($fontSize: 65px);
    margin-bottom: 0;
  }
  .about__text {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .section__title {
    @include sectionHeading($fontSize: 55px);
    margin-bottom: 0;
  }
}


