<div class="section-title__wrapper">
  <h2 class="section__title section__title--blur">Кто мы</h2>
</div>

<div class="section__about">
  <p class="about__text">
    Наши инженеры работают с оборудованием T.D.Williamson более 15 лет.
  </p>

  <p class="about__text">
    Являясь авторизованным представителем фирмы T.D.Williamson в России, мы
    осуществляем прямые поставки от производителя любых материалов, запчастей и
    оборудования по врезкам под давлением (холодным врезкам) под брендом TDW.
  </p>

  <p class="about__text">
    Своими силами мы производим ремонт и обслуживание любого оборудования TDW, а
    также производим специальные работы по врезкам и перекрытиям трубопроводов под
    давлением по технологии T.D.Williamson при врезке отводов, перемычек, лупингов,
    переходов и замене дефектных участков линейной части, запорно-регулирующей
    арматуры, соединительных деталей трубопроводов без прекращения транспорта продукта
    с врезкой байпаса или без байпаса, с применением специальной технологии сварки
    (приварки фитингов).
  </p>

  <p class="about__text">
    Мы работаем на любых трубопроводах в России. Типичный продукт – товарная нефть,
    природный газ, стабильный и нестабильный конденсат, широкие фракции легких
    углеводородов и т.п.
  </p>

  <p class="about__text">
    Холодные врезки широко применяются при ремонте, реконструкции нефте- и
    газопроводов, а также подключении вновь построенных трубопроводов в трубопроводы
    под давлением в целях обеспечения бесперебойной перекачки, сокращения потерь
    продукта по сравнению с традиционными методами ремонта с остановкой
    продуктопровода и решения экологических проблем, связанных со стравливанием
    продукта в атмосферу или его откачки в резервные емкости при проведении указанных
    работ.
  </p>
</div>
