@import "../../_utils/index";

.section-title__wrapper {
  @include sectionHeadingWrapper();
}

.section__title {
  @include sectionHeading();
}

.numbers {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: -1rem;
}

.number {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1 1 50%;
  padding: 1rem;
  margin-bottom: 2rem;
}

.numbers__group:last-of-type {
  margin-left: 0.75rem;
}

.number__icon {
  font-size: rem(60px);
  color: $dark;
}

.number__value {
  display: flex;
  align-items: baseline;
}

.number__value--label {
  font-size: rem(80px);
  font-weight: 600;
  color: $red;
  padding: 0 0.75rem;
}

.number__value--unit {
  font-size: rem(26px);
  color: $dark;
  font-weight: 600;
}

.number__description {
  color: $dark;
  font-size: rem(18px);
  margin-top: 1rem;
  text-align: center;
}

.svg-animation {
  opacity: 0;
  transition: opacity 0.2s;
}

.svg-animation.trigger {
  opacity: 1;
}

#circle.trigger {
  animation: 1s sdo ease;
}

#line.trigger {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 2s 1s ease forwards;
}

#circle-pressure.trigger {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 3s ease forwards;
}

#line-pressure.trigger {
  animation: rotate 2s ease forwards;
  transform-origin: 110px 110px;
}

#temperature.trigger {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: dash 3s ease forwards;
}

@keyframes sdo {
  from {stroke-dashoffset: 500px}
  to {stroke-dashoffset: 0}
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes rotate {
  to {transform: rotate(230deg)}
}

@media (max-width: 1579px) {
  .number__value--label {
    font-size: rem(50px);
  }
}

@media (max-width: 1199px) {
  .number__value--label {
    font-size: rem(35px);
  }
  .section__title {
    @include sectionHeading($fontSize: 65px);
  }
}

@media (max-width: 768px) {
  .section__title {
    @include sectionHeading($fontSize: 55px);
  }
  .numbers {
    flex-wrap: wrap;
  }
  .number {

    //&:nth-child(2) {
    //  order: 2;
    //}
    //&:nth-child(3) {
    //  order: 1;
    //}
  }
}

@media (max-width: 480px) {
  .section__title {
    @include sectionHeading($fontSize: 50px);
    line-height: 1;
  }
}
