<div class="section-title__wrapper">
  <h2 class="section__title section__title--blur" #title>Работаем в условиях</h2>
</div>

<div class="numbers">

  <div class="number">

    <div class="number__icon">
      <svg width="220" height="220">

        <circle class="svg-animation" id="circle" cx="110" cy="110" r="100" fill="transparent" stroke="#393d50" stroke-width="2px" stroke-dasharray="150px"></circle>

        <line class="svg-animation" id="line" x1="20" y1="20" x2="200" y2="200" stroke="#393d50" stroke-width="2px"></line>

      </svg>
    </div>

    <div class="number__value">
      <span class="number__value--label">100 - 1200</span>
      <span class="number__value--unit">мм</span>
    </div>

    <div class="number__description">Условный диаметр трубопровода</div>

  </div>

  <div class="number">

    <div class="number__icon">
      <svg width="220" height="220">

        <circle class="svg-animation" id="circle-pressure" cx="110" cy="110" r="100" fill="transparent" stroke="#393d50" stroke-width="2px"></circle>

        <line class="svg-animation" id="line-pressure" x1="110" y1="110" x2="70" y2="180" stroke="#393d50" stroke-width="2px"></line>

        <circle class="svg-animation" cx="110" cy="110" r="5" fill="#393d50"></circle>

      </svg>
    </div>

    <div class="number__value">
      <span class="number__value--unit">до</span>
      <span class="number__value--label">15</span>
      <span class="number__value--unit">МПа</span>
    </div>

    <div class="number__description">Рабочее давление</div>

  </div>

  <div class="number">

    <div class="number__icon">
      <svg width="220" height="220">
        <g class="svg-animation">
          <rect x="93" y="2" width="34" height="190" rx="17" ry="17" fill="transparent" stroke="#393d50" stroke-width="2"></rect>
          <circle cx="110" cy="187" r="30" fill="#f7f6f4" stroke="#393d50" stroke-width="2"></circle>
          <rect x="94" y="8" width="32" height="200" rx="17" ry="17" fill="#f7f6f4"></rect>

        </g>
        <g>
          <line class="svg-animation" id="temperature" x1="110" x2="110" y1="180" y2="25" stroke="#393d50" stroke-width="2" stroke-linecap="round"></line>
          <circle class="svg-animation" cx="110" cy="187" r="11" fill="#393d50"></circle>

        </g>

      </svg>
    </div>

    <div class="number__value">
      <div class="numbers__group">
        <span class="number__value--unit">от</span>
        <span class="number__value--label">-30</span>
        <span class="number__value--unit">&#176;С</span>
      </div>

      <div class="numbers__group">
        <span class="number__value--unit">до</span>
        <span class="number__value--label">+370</span>
        <span class="number__value--unit">&#176;С</span>
      </div>
    </div>

    <div class="number__description">Температура продукта</div>

  </div>

</div>
