<div class="section__video">
  <video class="section__video-player" src="../../../assets/video/video.mp4" autoplay
         loop #video></video>

  <div class="video__filter">

    <app-navigation></app-navigation>

    <header class="filter__header">
      <h1 class="header__title"><span class="animate-text speed-1">Национальная Компания Евразия</span></h1>

      <p class="header__description">
          <span
            class="animate-text speed-3">Материалы, запчасти, оборудование и работы по врезкам под давлением по технологии
          <a href="http://www.tdwilliamson.com/" target="_blank" class="header__link">T.D.Williamson</a>.
          </span>
      </p>

<!--      <p class="header__description header__description-extended">-->
<!--          <span class="animate-text speed-2">-->
<!--            Технологии <a href="http://www.tdwilliamson.com/" target="_blank" class="header__link">T.D.Williamson</a>.-->
<!--          </span>-->
<!--      </p>-->
    </header>

  </div>
</div>
