<div class="timeline__row timeline__row--first">
  <div class="timeline__ecology">
    <div class="section-title__wrapper">
      <h2 class="section__title section__title--blur">Экология</h2></div>
  </div>
  <div class="timeline__center"></div>
  <div class="timeline__economy">
    <div class="section-title__wrapper">
      <h2 class="section__title section__title--blur">Экономика</h2>
    </div>
  </div>
</div>

<div class="timeline" #timeline>

  <div class="line" #line></div>

  <div class="timeline__row" *ngFor="let item of list; let i = index">
    <div class="timeline__ecology">
      <p class="timeline__text">{{item.ecology}}</p>
    </div>
    <div class="timeline__center">
      <div class="center-circle" [attr.data-text]="i + 1">{{i + 1}}</div>
    </div>
    <div class="timeline__economy">
      <p class="timeline__text">{{item.economy}}</p>
    </div>
    <!-- <div class="timeline__economy-mobile">
      <p class="timeline__text">{{item.economy}}</p>
    </div> -->
  </div>

  <div class="section-title__wrapper mobile">
    <h2 class="section__title section__title--blur">Экономика</h2>
    <div class="timeline__row" *ngFor="let item of list; let i = index">
      <div class="timeline__economy mobile">
        <p class="timeline__text">{{item.economy}}</p>
      </div>
    </div>
  </div>

</div>
