@import "../_utils/index";

.nav-wrapper {
  background: $dark;
}

.section {
  padding: 2.5rem 5rem 0;
}

.section:last-of-type {
  padding-bottom: 2.5rem;
}

.section-title__wrapper {
  @include sectionHeadingWrapper();
}

.section__title {
  @include sectionHeading();
}
